# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Environment variables
.env
.env.*

# Alembic
alembic/versions/*.pyc
# Keep the versions folder but ignore DB files
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints/
*.keras
*.h5

# Model weights / large files
*.h5
*.pt
*.pth
*.ckpt
*.pkl



# other files
app/ML_models/Brain_Tumor_Segmentation/archive
segmentation_storage/